@charset "utf-8";
/* CSS Document */

body{

    background: -webkit-gradient(linear, left top, right top, from(#9A004D), color-stop(0.5, #FF0381), to(#9A004D));
    
    background: -webkit-linear-gradient(left, #9A004D, #2FF0381, #9A004D);
    
    background: -moz-linear-gradient(left, #2F2727, #1a82f7 5%, #2F2727, #1a82f7 95%, #2F2727);
    
    background: -ms-linear-gradient(left, #2F2727, #1a82f7 5%, #2F2727, #1a82f7 95%, #2F2727);
    
    background: -o-linear-gradient(left, #2F2727, #1a82f7 5%, #2F2727, #1a82f7 95%, #2F2727);

}

.form-signin {
    max-width: 500px;
    padding: 12px 29px 29px;
    margin: 0 auto;

    background-color: #fff;
	
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
			
	font-family:Tahoma, Geneva, sans-serif;
	color:#990000;
	font-weight:lighter;
}

.form-signin .form-signin-heading{
    color:#00A2D1;
}
.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signin input[type="email"] {
    font-size: 16px;
    height: 45px;
    padding: 7px 9px;
}

.signin-form, .body-container
{

	margin-top:1px;
	margin-bottom: 1px;
}
.navbar-brand{
	font-family:"Lucida Handwriting";
}
#btn-submit{
	height:45px;
}
.h5{
	font-family:Verdana, Geneva, sans-serif;
}
h1{
	font-family:Verdana, Geneva, sans-serif;
}



#nav_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4d3319;
    width: 100%;
}

#nav_list li {
    float: left;
    border-right:1px solid #bbb;
    width: 105px;

}

ul a:hover {
    background-color: #996633;
}

#nav_list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav_list li:last-child {
    border-right: none;
    float: right;
}

#walruses {
    position: relative;
	overflow: hidden;
	height: 20em;

}
#walruses img {
    height:100%;
    width: 100%;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.title {
    font-size: 300%;
    color: #00A2D1;
}

.row {
    background-color: #fff;
    max-width: 900px;
    margin: auto;
}

#dataholder {
    margin: auto;
    max-width: 900px;
    padding: 0;
}

.table_head {
    color: white;
    font-size: 200%;
}

#new_users {
	max-width: 30em;
	max-height: 30em;
	float: left;
	background-color: #4d3319;
	color: white;
	border:1px solid #bbb;
	margin: 20px auto 20px 0px;
}
#users_table {
    overflow-y: scroll;
    max-width: inherit;
    padding-left: 0;
}

#news {
	max-width: 30em;
	max-height: 30em;
	float: right;
	background-color: #4d3319;
	color: white;
	border:1px solid #bbb;
	margin: 20px 0 20px auto;
}
#news_table {
    max-width: inherit;
    padding-left: 0px;
    padding-right: 30px;
}

#prof_pic {
    max-width: 30em;
	max-height: 30em;
	float: left;
	background-color: #4d3319;
	color: white;
	border:1px solid #bbb;
	margin: 20px 0 20px auto;
}
#prof_pic img {
    margin: auto;
}
#prof_pic a{
    background-color: white;
}

#prof_desc {
    max-width: 30em;
	max-height: 30em;
	float: right;
	background-color: #4d3319;
	color: white;
	border:1px solid #bbb;
	margin: 20px 0 20px auto;
}

#prof_desc a{
    background-color: white;
}

.img-rounded 
{
    max-width: 20em;
    max-height: 20em;
}

#tomessages {
    max-width: 30em;
	max-height: 30em;
	float: left;
	background-color: #4d3319;
	color: white;
	border:1px solid #bbb;
	margin: 20px 0 20px auto;
}

#frommessages {
    max-width: 30em;
	max-height: 30em;
	float: right;
	background-color: #4d3319;
	color: white;
	border:1px solid #bbb;
	margin: 20px 0 20px auto;
}

#message_table {
    overflow-y: scroll;
    max-width: inherit;
    padding-left: 0;
}

#beach {
    max-width: 900px;
    max-height: 60em;
	float: left;
	background-color: #4d3319;
	color: white;
	border:1px solid #bbb;
	margin: 20px 0 20px auto;
}

#beach_table {
    overflow-y: scroll;
    max-width: inherit;
    padding-left: 0;
    border-collapse: collapse;
}

#beach_table td {
    word-wrap: break-word;
    display:inline-block;
    border-collapse: inherit;
}

#addpic {
    max-width: 900px;
    max-height: 60em;
	float: left;
	background-color: #4d3319;
	color: white;
	border:1px solid #bbb;
	margin: 20px 0 20px auto;
}

#pic_table {
    max-width: inherit;
    padding-left: 0;
    border-collapse: collapse;
}